// PAGINATION
.pagination
  .pagination__list
    //- li
    //-   a(href='#')
    //-     +svgMono("long-arrow")
    li.is-active
      a(href="#")
        span 1
    li
      a(href='#')
        span 2
    li.pagination__separator
      span ...
    li
      a(href="#")
        span 24
    li
      a(href='#')
        span 25
    li
      a(href='#')
        +svgMono("long-arrow")
