// CATALOG
.catalog
  &__title

  &__ad
    margin: 24px 0
  &__filters
    margin: 30px 0 24px

  &__list
    margin: 30px 0 50px

  &__game
    margin-top: 32px
    margin-bottom: 50px

  &__comments
    max-width: 650px
    margin: 30px auto 40px


// TABLE
.table
  border-collapse: collapse
  margin: 0
  padding: 0
  width: 100%
  border-radius: 12px
  box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.08)
  thead
    td
      background: $colorBlue
      color: white
      font-size: 14px
      padding-bottom: 16px
      padding-top: 16px
      &:first-child
        border-top-left-radius: 12px
      &:last-child
        border-top-right-radius: 12px

  tbody
    tr
      &:nth-child(even)
        background: #F3F9FE
      &:nth-child(odd)
        background: white
      &:last-child
        td:first-child
          border-bottom-left-radius: 12px
        td:last-child
          border-bottom-right-radius: 12px

      &[js-link]
        cursor: pointer
        td:first-child
          span
            display: inline
            transition: border .25s $ease
            border-bottom: 1px solid transparent
        &:hover
          td:first-child
            span
              border-color: black

  // common tabel styles
  tr

  td
    font-size: 16px
    line-height: 1.5
    padding: 14px 10px
    vertical-align: top
    a
      color: $colorDarkBlue
      transition: color .25s $ease
      &:hover
        color: $colorBlue

    &:first-child
      padding-left: 24px
    &:last-child
      padding-right: 24px

  &__sortable-col
    display: flex
    align-items: center
    span
      position: relative
      padding-right: 14px
      .ico
        position: absolute
        top: 50%
        transform: translateY(-50%)
        user-select: none
        font-size: 14px
        opacity: 0
        transition: opacity .25s $ease
        &-mono-sorting-arrows
          right: -8px
        &-mono-sorting-down
          right: -1px
        &-mono-sorting-up
          right: -9px

  &--consoles
    td
      &:nth-child(1)
        width: 50%
      &:nth-child(2)
        width: 18%
      &:nth-child(3)
        width: 17%
      &:nth-child(4)
        width: 17%

  &--roms
    td
      &:nth-child(1)
        width: 52%
      &:nth-child(2)
        width: 20%
      &:nth-child(3)
        width: 20%

// sorting
td, th
  &[role=columnheader]:not(.no-sort)
    cursor: pointer

  &[aria-sort=ascending]:not(.no-sort)
    .ico-mono-sorting-down
      opacity: 1

  &[aria-sort=descending]:not(.no-sort)
    .ico-mono-sorting-up
      opacity: 1

  &[role=columnheader]:not(.no-sort)
    // // show only for non-active sorts
    // &:not([aria-sort])
    &:hover
      .ico-mono-sorting-arrows
        opacity: .5
