// buttons
button
  -webkit-appearance: none
  border: 0
  box-shadow: none
  cursor: pointer
  &:focus
    outline: none

.btn
  display: inline-block
  position: relative
  text-align: center
  font-family: $acentFont
  cursor: pointer
  transition: all $transitionSpeed $ease
  &:focus, &:active
    outline: none
  &--block
    display: block
    width: 100%

.btn-primary
  padding: 10px 22px 9px
  background: $colorYellow
  border: 1px solid transparent
  box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.08), inset 0px 4px 0px rgba(255, 255, 255, 0.24);
  border-radius: 12px
  font-size: 10px
  &:hover
    // box-shadow: 0px -2px 0px rgba(0, 0, 0, 0.08), inset 0px -2px 0px rgba(255, 255, 255, 0.24);
    background: $colorYellowHover
  &:focus
    background: $colorYellowHover
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.08), inset 0px 4px 0px rgba(255, 255, 255, 0.24)
  &:active
    border-color: black
    box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.08), inset 0px 4px 0px rgba(255, 255, 255, 0.24)

.btn-green
  padding: 17px 50px 16px
  background: $colorGreen
  border: 1px solid transparent
  box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.16), inset 0px 4px 0px rgba(255, 255, 255, 0.16);
  border-radius: 12px
  font-size: 12px
  &:hover
    // box-shadow: 0px -2px 0px rgba(0, 0, 0, 0.08), inset 0px -2px 0px rgba(255, 255, 255, 0.24);
    background: $colorGreenHover
  &:focus
    background: $colorGreenHover
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.16), inset 0px 4px 0px rgba(255, 255, 255, 0.16)
  &:active
    border-color: black
    box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.16), inset 0px 4px 0px rgba(255, 255, 255, 0.16)

.btn-iconed
  span
    display: inline-block
    position: relative
    z-index: 1
    padding-left: 40px
  .ico
    position: absolute
    left: 0
    top: 50%
    transform: translateY(-50%)
  .ico-mono-download
    font-size: 24px
