.iconed-title
  display: flex
  align-items: baseline
  &__icon
    min-width: 35px
  .ico
    fill: $colorYellow
    font-size: 1.8em
  .ico-mono-cup
    font-size: 1.25em
  .ico-mono-star
    font-size: 1.15em
