// TEXT info section
.text-info
  .container
    h3.h7-title
      +svgColor('bomb')
      span Game ROMs to Download for FREE
    p.p-small Emulator.Games provides a simple way for you to download video game ROMs and play them on your computer or online within your browser. Emulators are provided that can play the ROM you download. Start playing your favorite Nintendo and Sony game consoles such as GBA, SNES, NES, GBC, N64, NDS, PSP, PS2, PSX, WII and Gameboy ROMs. We also have downloadable ROMs for other game emulators such as ATARI, SEGA, XBOX, DREAMCAST and MAME. All of the ROMs are easy to find with fast downloading speeds and play on all your devices in high quality.
