// TEXT info section
.text-info
  .container
    h3.h7-title.iconed-title
      .iconed-title__icon
        +svgColor('bomb')
      span Welcome to PixelRoms - The best source for game ROMs!
    p.p-small We created PixelRoms because of our love for retro games. We believe these games are timeless and so they must be preserved so others can enjoy them now as well as in the future. We have a huge collection of ROMs available for you to download and play for FREE! We have game ROMs for some of the most popular consoles like GBA, NES, NDS, SNES, GBC, PS2, N64, GB… just to name a few. If for some reason you can’t find a certain game, contact us and we’ll add it.
