// HERO
.hero
  .hero__background
    // TODO - animation
    include ../../icons/svg-inline/homepage-bg.svg
  .hero__content
    .container
      h1.hero__title.h4-title Play Game ROMs on your PC, Mobile, Mac, iOS and Android devices.

