---
title: EMULATOR
---
extends shared/_layout

include ../components/breadcrumbs/_breadcrumbs

block content

  // header class modifiers binded to pjax
  div(js-header-class data-class="is-black")

  // GAME PAGE
  .catalog.page-holder
    .container
      +breadcrumbs(["Home", "Emulators", "Gameboy Advance", "BatGBA"])

      // TITLE
      .catalog__title
        h1.h6-title BatGBA

      .catalog__ad
        include ../components/ads/_horizontal

      // GAME
      .catalog__game
        include ../components/games/_emulator.pug

      // RECOMENDED
      .catalog__recomended
        include ../components/thumbsList/_recomended

      .catalog__ad
        include ../components/ads/_horizontal

      // COMMENTS
      .catalog__comments
        include ../components/comments/_comments

