---
title: ROM
---
extends shared/_layout

include ../components/breadcrumbs/_breadcrumbs

block content

  // header class modifiers binded to pjax
  div(js-header-class data-class="is-black")

  // GAME PAGE
  .catalog.page-holder
    .container
      +breadcrumbs(["Home", "ROMs", "Gameboy Advance", "Pokemon - Fire Red Version (V1.1)"])

      // TITLE
      .catalog__title
        h1.h6-title Pokemon - Fire Red Version (V1.1)

      .catalog__ad
        include ../components/ads/_horizontal

      // GAME
      .catalog__game
        include ../components/games/_rom.pug

      // RECOMENDED
      .catalog__recomended
        include ../components/thumbsList/_recomended

      .catalog__ad
        include ../components/ads/_horizontal

      // COMMENTS
      .catalog__comments
        include ../components/comments/_comments
