---
title: ROM
---
extends shared/_layout

include ../components/breadcrumbs/_breadcrumbs

block content

  // header class modifiers binded to pjax
  div(js-header-class data-class="is-black")

  // GAME PAGE
  .catalog.page-holder
    .container
      +breadcrumbs(["Home", "ROMs", "Gameboy Advance", "Pokemon - Fire Red Version (V1.1)"])

      // TITLE
      .catalog__title
        h1.h6-title Pokemon - Fire Red Version (V1.1)

      .catalog__ad
        include ../components/ads/_horizontal

      // GAME
      .catalog__game
        include ../components/games/_rom.pug

      // RECOMENDED
      .catalog__recomended
        include ../components/thumbsList/_recomended

      .catalog__ad
        include ../components/ads/_horizontal

      // COMMENTS
      .catalog__comments
        #disqus_thread
        script.
          var disqus_config = function () {
          this.page.url = "http://localhost:3000/game.html";  // Replace PAGE_URL with your page's canonical URL variable
          this.page.identifier = "1"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
          };
          (function() {
          var d = document, s = d.createElement('script');
          s.src = 'https://pixel-roms.disqus.com/embed.js';
          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
          })();
