---
title: Homepage
---
extends shared/_layout
block content

  div(style="margin: 100px 0")
    .container
      // headings
      h1.h1-title Heading 1
      h2.h2-title Heading 2
      h3.h3-title Heading 3
      h4.h4-title Heading 4
      h5.h5-title Heading 5
      h6.h6-title Heading 6
      h7.h7-title Heading 7
      // paragraphs
      div(style="margin: 30px 0")
        p.p-large Lorem ipsum dolor sit amet, at tale etiam offendit vim, usu vide sensibus et. Postea utroque maluisset ei vix, salutandi facilisis cum ut. Reque cetero oportere ius te. Ad homero patrioque his, per cu graeco mollis. Oblique honestatis ex vix, dicta timeam honestatis sea ex.Latine numquam necessitatibus at vel, an solum habemus copiosae mel. Usu stet aperiam volumus at. Eu duis populo vix. Nec id quas labore lucilius, pro ex postea propriae. Ius epicurei postulant ea, te per soluta animal.
        p.p-big Lorem ipsum dolor sit amet, at tale etiam offendit vim, usu vide sensibus et. Postea utroque maluisset ei vix, salutandi facilisis cum ut. Reque cetero oportere ius te. Ad homero patrioque his, per cu graeco mollis. Oblique honestatis ex vix, dicta timeam honestatis sea ex.Latine numquam necessitatibus at vel, an solum habemus copiosae mel. Usu stet aperiam volumus at. Eu duis populo vix. Nec id quas labore lucilius, pro ex postea propriae. Ius epicurei postulant ea, te per soluta animal.
        p.p-regular Lorem ipsum dolor sit amet, at tale etiam offendit vim, usu vide sensibus et. Postea utroque maluisset ei vix, salutandi facilisis cum ut. Reque cetero oportere ius te. Ad homero patrioque his, per cu graeco mollis. Oblique honestatis ex vix, dicta timeam honestatis sea ex.Latine numquam necessitatibus at vel, an solum habemus copiosae mel. Usu stet aperiam volumus at. Eu duis populo vix. Nec id quas labore lucilius, pro ex postea propriae. Ius epicurei postulant ea, te per soluta animal.
        p.p-small Lorem ipsum dolor sit amet, at tale etiam offendit vim, usu vide sensibus et. Postea utroque maluisset ei vix, salutandi facilisis cum ut. Reque cetero oportere ius te. Ad homero patrioque his, per cu graeco mollis. Oblique honestatis ex vix, dicta timeam honestatis sea ex.Latine numquam necessitatibus at vel, an solum habemus copiosae mel. Usu stet aperiam volumus at. Eu duis populo vix. Nec id quas labore lucilius, pro ex postea propriae. Ius epicurei postulant ea, te per soluta animal.
      // buttons
      div(style="margin: 30px 0")
        a(href="#").btn.btn-primary View all

        a(href="#").btn.btn-green.btn-iconed
          span Download
            +svgMono("download")

        a(href="#").btn.btn-green Without icon

      // cards
      div(style="margin: 30px 0")

      // table
      div(style="margin: 30px 0")

      // pagination
      div(style="margin: 30px 0")
        include ../components/pagination/_pagination
        include ../components/pagination/_pagination-prev
