
// SEARCH FORM
form.search-form(action="#")
  .search-form__input.ui-input-iconed(js-input-focus js-input-clearable)
    .ui-input-ico
      +svgMono('search')
    input#autocomplete(type="text" placeholder="Search by ROM names or keywords" js-autocomplete).ui-input
    .ui-input-clear
      +svgMono('cross')
  .search-form__cta
    button(type="submit").btn.btn-green Search
