
// SEARCH FORM
form.search-form(action="#")
  .search-form__input.ui-input-iconed(js-input-focus)
    +svgMono('search')
    input(type="text" placeholder="Search by ROM names or keywords").ui-input
    // TODO - quick search
  .search-form__cta
    button(type="submit").btn.btn-green Search
