// HEADER :: START
header.header
  .container
    .header__wrapper
      a(href="homepage.html").header__logo
        +svgColor('logo')
      ul.header__menu
        li
          a(href="homepage.html") Home
        li
          a(href="roms.html") Roms
        li
          a(href="emulators.html") Emulators
        li
          a(href="bioses.html") Bios

      .header__hamburger
        .hamburger.hamburger--squeeze(js-hamburger)
          .hamburger-box
            .hamburger-inner

// MOBILE NAVI
.mobile-navi
  .mobile-navi__wrapper
    ul.mobile-navi__menu
      li
        a(href="homepage.html") Home
      li
        a(href="roms.html") Roms
      li
        a(href="emulators.html") Emulators
      li
        a(href="bioses.html") Bios
