// FOOTER :: START
footer.footer
  .container
    .footer__top
      .footer__copy.p-small Most popular
      ul.footer__menu
        li
          a(href="#") GBA ROMs
        li
          a(href="#") SNES ROMs
        li
          a(href="#") N64 ROMs
        li
          a(href="#") NES ROMs
        li
          a(href="#") PS1 ROMs
        li
          a(href="#") GBC ROMs
        li
          a(href="#") Genesis ROMs
        li
          a(href="#") GB ROMs
        li
          a(href="#") MAME ROMs

    .footer__bottom
      .footer__copy.p-small © 2019 PixelRoms.com. All rights reserved.
      ul.footer__menu
        li
          a(href="#") Home
        li
          a(href="#") ROMs
        li
          a(href="#") Emulators
        li
          a(href="#") Contact Us
        li
          a(href="#") Disclaimer

// FOOTER :: END
