#disqus_thread
script.
  var disqus_config = function () {
  this.page.url = "http://localhost:3000/game.html";  // Replace PAGE_URL with your page's canonical URL variable
  this.page.identifier = "1"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
  };
