.filters
  .filters__keyword
    .ui-input-iconed(js-input-focus js-input-clearable)
      .ui-input-ico
        +svgMono('search')
      input(type="text" placeholder="Search by ROM ...").ui-input
      .ui-input-clear
        +svgMono('cross')

  .filters__select
    select(js-select placeholder="Genre")
      option Misc
      option Action
      option Racing
      option Simulation
      option Simulation
      option Strategy
      option Shooter
      option Sports
      option Fighting
      option Puzzle
      option Platform
      option Role Playing
      option Board Game
      option Card Game
      option Educational
      option Adventure
      option Beat Em Up
      option Turn Based Tactics
      option Platform
      option Shooter
      option Adventure
      option Strategy
      option Role Playing
      option Fighting
      option Compilation
      option Music
      option Beat Em Up
      option Turn Based Tactics
      option Racing
      option Pinball
      option Hack

  .filters__select
    select(js-select placeholder="Region")
      option Europe
      option France
      option Germany
      option Italy
      option Japan
      option Korea
      option USA
      option USA Europe
