include ../thumbs/_rom

-
  var cards = [
    ["Pokemon - Fire Red Version (V1.1)", "Gameboy Advance", "r-Cover_1"],
    ["Pokemon - Emerald Version", "Gameboy Advance", "r-Cover_2"],
    ["Super Mario World", "Super Nintendo", "r-Cover_3", 101/144],
    ["Pokemon - Ruby Version (V1.1)", "Gameboy Advance", "r-Cover_4"],
    ["Pokemon - Leaf Green Version (V1.1)", "Gameboy Advance", "r-Cover_5"],
    ["5585 - Pokemon - Black Version", "Nintendo DS", "r-Cover_6", 129/144],

    ["5585 - Pokemon - Black Version", "Nintendo DS", "r-Cover_6", 129/144],
    ["Pokemon - Emerald Version", "Gameboy Advance", "r-Cover_2"],
    ["Pokemon - Fire Red Version (V1.1)", "Gameboy Advance", "r-Cover_1"],
    ["Super Mario World", "Super Nintendo", "r-Cover_3", 101/144],
    ["Pokemon - Ruby Version (V1.1)", "Gameboy Advance", "r-Cover_4"],
    ["Pokemon - Leaf Green Version (V1.1)", "Gameboy Advance", "r-Cover_5"],
  ]

// RECOMENDED
.thumbs-list
  h3.h7-title Popular game ROMs

  .thumbs-list__grid
    each card, index in cards
      .thumbs-list__col
        +romThumb(card[0], card[1], card[2], card[3])
