include ../thumbs/_rom

-
  var cards = [
    ["Pokemon - Fire Red Version (V1.1)", "Gameboy Advance", "r-Cover_1"],
    ["Pokemon - Emerald Version", "Gameboy Advance", "r-Cover_2"],
    ["Super Mario World", "Super Nintendo", "r-Cover_3", 101/144],
    ["Pokemon - Ruby Version (V1.1)", "Gameboy Advance", "r-Cover_4"],
    ["Pokemon - Leaf Green Version (V1.1)", "Gameboy Advance", "r-Cover_5"],
    ["5585 - Pokemon - Black Version", "Nintendo DS", "r-Cover_6", 129/144],

    ["5585 - Pokemon - Black Version", "Nintendo DS", "r-Cover_6", 129/144],
    ["Pokemon - Emerald Version", "Gameboy Advance", "r-Cover_2"],
    ["Pokemon - Fire Red Version (V1.1)", "Gameboy Advance", "r-Cover_1"],
    ["Super Mario World", "Super Nintendo", "r-Cover_3", 101/144],
    ["Pokemon - Ruby Version (V1.1)", "Gameboy Advance", "r-Cover_4"],
    ["Pokemon - Leaf Green Version (V1.1)", "Gameboy Advance", "r-Cover_5"],

    ["Super Mario World", "Super Nintendo", "r-Cover_3", 101/144],
    ["5585 - Pokemon - Black Version", "Nintendo DS", "r-Cover_6", 129/144],
    ["Pokemon - Fire Red Version (V1.1)", "Gameboy Advance", "r-Cover_1"],
    ["Pokemon - Emerald Version", "Gameboy Advance", "r-Cover_2"],
    ["Pokemon - Ruby Version (V1.1)", "Gameboy Advance", "r-Cover_4"],
    ["Pokemon - Leaf Green Version (V1.1)", "Gameboy Advance", "r-Cover_5"],
  ]


.thumbs-list
  .container
    .thumbs-list__head
      h3.h7-title.iconed-title
        .iconed-title__icon
          +svgMono('cup')
        span Popular game ROMs
      .thumbs-list__cta
        a(href="#").btn.btn-primary View top 100
    .thumbs-list__grid
      each card, index in cards
        .thumbs-list__col
          +romThumb(card[0], card[1], card[2], card[3])
