.ico-mono-cup {
  width: 0.95em;
  height: 1em;
  fill: #FAC23E;
}
.ico-mono-dropdown-arrow {
  width: 1.56em;
  height: 1em;
  fill: #000;
}
.ico-mono-email {
  width: 1.4em;
  height: 1em;
  fill: #FFF;
}
.ico-mono-long-arrow {
  width: 0.71em;
  height: 1em;
  fill: #fff;
}
.ico-mono-search {
  width: 1em;
  height: 1em;
  fill: #999;
}
.ico-mono-star-rate-blank {
  width: 1.05em;
  height: 1em;
  fill: #E5E5E5;
}
.ico-mono-star-rate-fill {
  width: 1.05em;
  height: 1em;
  fill: #FAC23E;
}
.ico-mono-star {
  width: 1.05em;
  height: 1em;
  fill: #FAC23E;
}
